html, body {
    background-color: #2C2F33;
}

.header {
    padding: 50px;
    background-color: #2C2F33;
    text-align: center;
}

a:link {
    color:#2C2F33;
  }
  
 
  a:visited {
    color: #2C2F33;
  }
  

  a:hover {
    color: #2C2F33;
  }
  

  a:active {
    color: #2C2F33;
  }

.mainGrid {
    background-color: #2C2F33; 
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.news {
    color: #1a73e8;
}

.newsCard {
    background-color: #1a73e8;
    color: white;
}

.textNews {
    text-decoration: underline;
}

.imageNews {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: auto;
    border-radius: 5px;
}

.GIPHY {
    background-color: rgba(18,18,18,1);
    color: rgba(18,18,18,1);
}

.imageGIPHY {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: auto;
    border-radius: 5px
}

.YouTube {
    text-align: center;    
}

.titleYouTubeTop {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -20px;
}

.titleYouTube {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
}

.descriptionTitle2, .descriptionTitle3, .descriptionTitle1, .titleYouTube, .titleYouTubeTop {
    background-color: #FF0000;
    border-radius: 10px;
    color: white;
}


.embed1, .embed2, .embed3 {
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

.resultsCard {
    border-radius: 10px;
    padding: 20px 0px;
}

.footer {
    text-align: center;
    background-color: #2C2F33;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.three wide column {
    padding-top: 10px;
    font-size: 100px;
}

.ui, .grid {
    background-color: #2C2F33;
}