.header {
    padding: 50px;
    background-color: #2C2F33;
    text-align: center;
}



.mainGrid {
    background-color: whitesmoke; 
    padding-top: 50px;
    margin: auto;
    text-align: center;
}

.newsCard {
    background-color: #1a73e8;
    color: white;
}

.textNews {
    text-decoration: underline;
}

.imageNews {
    width: 150px;
    height: auto;
    margin: auto;
    border-radius: 5px;
}

.GIPHY {
    background-color: rgba(18,18,18,1);
    color: white;
}

.YouTube {
    text-align: center;
}

.descriptionTitle2, .descriptionTitle3, .descriptionTitle1, .titleYouTube {
    background-color: #FF0000;
    border-radius: 10px;
}


.embed1, .embed2, .embed3 {
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

.resultsCard {
    border-radius: 10px;
    padding: 20px 0px;
}

.footer {
    text-align: center;
    background-color: #2C2F33;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

.three wide column {
    padding-top: 10px;
    font-size: 100px;
}
